@import "../../../styles/font/roboto";

.DialogWrapperHide {
    display: none;
}

.DialogWrapper {
    font-family: "Roboto", sans-serif;
    // display: block;
    display: flex;
    align-items: center;
    position: fixed;
    top:0;
    left:0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */    
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.3); /* Black w/ opacity */    
    z-index: 1; /* Sit on top */    
    transition: all 0.5s ease-out;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    
    .DialogBox {
        padding: 0.5em;
        width: 22em;
        min-height: 11em;
        height: auto;
        border-radius: 6px;
        background-color: #fff;
        margin: auto;            
        box-shadow:0 0 10px var(--qcuicq-color-light);
    }       
    
}