@import './font/roboto.scss';

:root {
    /* BASE COLORS */
    --qcuicq-color-primary: #294197;
    --qcuicq-color-primary-light: #435bb3;
    --qcuicq-color-primary-lighter: #768ee2;
    --qcuicq-color-secondary: #D81D0D;
    --qcuicq-color-secondary-light: #F05C5C;
    --qcuicq-color-secondary-lighter: #e9a39d;
    --qcuicq-color-tertiary: #318C56;
    --qcuicq-color-tertiary-light: #54A776;
    --qcuicq-color-tertiary-lighter: #81D2A2;
    --qcuicq-color-light: #ececec;
    --qcuicq-color-lighter: #F6F6F6;
    --qcuicq-color-error: #F05C5C;
    /* TEXT COLORS */
    --qcuicq-color-textPrimary: #6B6B6B;
    --qcuicq-color-textSecondary: #BABABA;
    --qcuicq-color-textDark: rgb(36, 36, 36);
    --qcuicq-color-textLight: #C8C8C8;
    --qcuicq-color-textError: #F05C5C;
    --qcuicq-color-textDefault: #fff;

    /* BUTTON SIZES */
    /* small */
    --qcuicq-btn-size-sm-padding: 15px 18px;
    --qcuicq-btn-size-sm-height: 25px;
    --qcuicq-btn-size-sm-font: .7rem;
    /* md */
    --qcuicq-btn-size-md-padding: 18px 23px;
    --qcuicq-btn-size-md-height: 28px;
    --qcuicq-btn-size-md-font: .8rem;
    /* large */
    --qcuicq-btn-size-lg-padding: 21px 26px;
    --qcuicq-btn-size-lg-height: 31px;
    --qcuicq-btn-size-lg-font: .9rem;

    /* CHECKBOX SIZES */
    /* small */
    --qcuicq-chkbx-size-sm-padding: .2rem;
    --qcuicq-chkbx-size-sm-height: .7rem;
    --qcuicq-chkbx-size-sm-width: .7rem;
    --qcuicq-chkbx-size-sm-font: .75rem;
    /* md */
    --qcuicq-chkbx-size-md-padding: .3rem;
    --qcuicq-chkbx-size-md-height: .8rem;
    --qcuicq-chkbx-size-md-width: .8rem;
    --qcuicq-chkbx-size-md-font: .8rem;
    // /* large */
    --qcuicq-chkbx-size-lg-padding: .3rem;
    --qcuicq-chkbx-size-lg-height: 1rem;
    --qcuicq-chkbx-size-lg-width: 1rem;
    --qcuicq-chkbx-size-lg-font: 1rem;
   }

   * {
    box-sizing: border-box;
   }
   body {
    font-family: 'Roboto', sans-serif;
   }