@import '../../../styles/font/roboto';

.ButtonWrapper {
    font-family: 'Roboto', sans-serif;
}

.Button {
    border: 0;
    outline: 0;
    border-radius: 4px;
    color: var(--color-textDark);
    background-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    
    padding: var(--btn-size-md-padding);
    height: var(--btn-size-md-height);
    font-size: var(--btn-size-md-font);

    &:hover {
        background-color: var(--color-light);
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -o-transition: .5s;
    }

    &:active {
        background-color: var(--color-primary-lighter);
        color: var(--color-textDark);
        transition: .4s;
        -webkit-transition: .4s;
        -moz-transition: .4s;
        -o-transition: .4s;
    }
    
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -o-transition: .8s;
}

.Button_Variant__contained {
    color: #fff;
    background-color: var(--color-primary);

    &:hover {
        background-color: var(--color-primary-light);
        transition: .5s;
        -webkit-transition: .5s;
        -moz-transition: .5s;
        -o-transition: .5s;
    }
}

.Button_Size__sm {
    padding: var(--btn-size-sm-padding);
    height: var(--btn-size-sm-height);
    font-size: var(--btn-size-sm-font);
}
.Button_Size__lg {
    padding: var(--btn-size-lg-padding);
    height: var(--btn-size-lg-height);
    font-size: var(--btn-size-lg-font);
}

.Button_Disabled {
    color: var(--color-textLight);
    background-color: transparent;
    cursor:initial;

    &:hover {
        color: var(--color-textLight);
        background-color: transparent;
    }
}