.InputTextWrapper {
    width: 100%;
    padding: 0 0 10px;
}

.InputText {
    width: 100%;
    border: 1px solid transparent;
    outline: 0;
    height: 48px;
    border-radius: 6px;
    text-indent: 10px;
<<<<<<< Updated upstream
    box-shadow: 0 0 10px var(--qcuicq-color-light);
    color: var(--qcuicq-color-textDark);
=======
<<<<<<< Updated upstream
    box-shadow: 0px 0px 10px 1px var(--color-light);
    color: var(--color-textDark);
=======
    box-shadow: 0 0 10px var(--qcuicq-color-light);
    color: var(--qcuicq-color-textPrimary);
>>>>>>> Stashed changes
>>>>>>> Stashed changes
    font-weight: 600;
    letter-spacing: .5px;
    font-size: .8rem;
    margin-bottom: 10px;
    
    transition: all .5s ease-out;
    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    -o-transition: all .5s ease-out;

    &::placeholder {
        color: var(--qcuicq-color-textSecondary);
    }

    &:focus {
        border-color: var(--qcuicq-color-primary);
        transition: all .5s ease-out;
        -webkit-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
    }
}

.InputError {
    border: 1px solid var(--qcuicq-color-error);
}
.HelperMessage {
    color: var(--qcuicq-color-textLight);
    font-size: .8rem;
}
.ErrorMessage {
    color: var(--qcuicq-color-textError);
    font-size: .8rem;
}