$wrapperWidth: 100%;

.StepWrapper {
    width: $wrapperWidth;
    overflow-x: hidden;
    
    position: absolute;
    max-height: 0;
    opacity: 0;
    margin-right: calc(#{$wrapperWidth} + 1000px);
    transition: overflow-x 1s ease-out, margin-right 0.8s ease-out, opacity 1s ease-out;
}

.ActiveStep {
    position: relative;
    max-height: 100%;
    overflow-x: visible;
    opacity: 1;
    margin-right: 0;
    transition: overflow-x 1s ease-out, margin-right 0.8s ease-out, opacity 1s ease-out;
}