@import "../../../styles/font/roboto";

.DialogContent {
    font-family: "Roboto", sans-serif;
    color: #000;
    margin: 1em 1em;
    min-height: 3em;
    height: auto;
    text-align: justify;
    text-justify: auto;
}